# Python
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
ENV/
.venv/

# Django
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
/static/
media/

# Flask
instance/
.webassets-cache

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Virtual Environment
.env/
venv/
ENV/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints

# Coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.hypothesis/

# MySQL
*.sql

# Node.js (if applicable)
node_modules/

# JetBrains
.idea/

# Flask settings
*.log
instance/
