<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base View</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <!-- Load CSS-Style sheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <!-- CSRF Token -->
    <script src="{% static 'js/csrf.js' %}"></script>
</head>


<body>
    {% include 'menu.html'%}
    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>
    <!-- Load js-admin sheet -->
    <script src="{% static 'js/base.js' %}"></script>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>