{% load static %}

<nav class="navbar shadow p-3 mb-4 navbar-expand-lg" style="background-color: rgb(255, 235, 0)">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'base'%}">
        <img src="{% static 'img/logo_purple.png' %}" alt="SAK Logo" style="height: 30px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link fw-bold" style="color: rgb(102, 0, 102);" href="#">Über DevHub</a>
        </div>
        <div class="navbar-nav ms-auto">   
            <a class="nav-link" href="#">Login</a>
        </div>
      </div>
    </div>
  </nav>